<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hot게시판</title>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<div class="container my-3">
  <h2 class="mb-4">실시간 인기글</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="list-group">
        <th:block th:each="question : ${hotQuestions}">
          <a href="#" class="list-group-item list-group-item-action"
             th:href="@{|/question/detail/${question.id}|}">
            <h5 class="mb-1" th:text="${question.subject}"></h5>
            <small th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></small>
          </a>
        </th:block>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/bootstrap.min.js}"></script>
<script type='text/javascript' th:src="@{/script.js}"></script>
</body>
</html>
